{% extends 'web/base.html' %}
{% load custom_filters %}
{%  load static %}
{% block title %} Dashboard - Cluster Manager {% endblock %}
{% block Dashboard-active %}active{% endblock %}
{% block base-content %}
<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-xl-6" style="width: 100%">
        <div class="rounded h-100 p-4">
            {% for node in nodes_state %}
                {% if node.status == 'online' %}
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item bg-transparent mt-4">
                            <h2 class="accordion-header" id="heading-{{ node.node }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ node.node }}" aria-expanded="true" aria-controls="collapse-{{ node.node }}" style="background-color: #9ee3be">
                                    <i class="fa bi-toggle2-on fa-2x me-4"></i>{{ node.node }}
                                    <i class="fa bi-clock-history fa-2x ms-5"> {{ node.uptime|format_timedelta }} - Uptime </i>
                                </button>
                            </h2>
                            <div id="collapse-{{ node.node }}" class="accordion-collapse collapse show" aria-labelledby="heading-{{ node.node }}" data-bs-parent="#accordionExample">
                                <div hx-trigger="load, every 10s" hx-get="/update-chart-data" hx-target="#chart-content" hx-swap="none"></div>
                                <div class="row g-4" id="chart-content">
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 mt-3">
                                            <i class="fa fa-memory fa-3x text-primary"></i>
                                            <div class="ms-3">
                                                <p class="mb-2">Memory</p>
                                                <h6 class="mb-0">{{ node.memory.total|format_bytes }}</h6>
                                            </div>
                                        </div>
                                        <canvas id="pie-chart-{{ node.node }}-memory" class="bg-secondary pb-3"></canvas>
                                    </div>
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 mt-3">
                                            <i class="fa fa-hdd fa-3x text-primary"></i>
                                            <div class="ms-3">
                                                <p class="mb-2">Hard Disk</p>
                                                <h6 class="mb-0">{{ node.rootfs.total|format_bytes }}</h6>
                                            </div>
                                        </div>
                                        <canvas id="pie-chart-{{ node.node }}-disk" class="bg-secondary pb-3"></canvas>
                                    </div>
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 mt-3">
                                            <i class="fa bi-cpu-fill fa-3x text-primary"></i>
                                            <div class="ms-3">
                                                <p class="mb-2">CPU</p>
                                                <h6 class="mb-0">{{ node.cpuinfo.cpus }} core</h6>
                                            </div>
                                        </div>
                                        <canvas id="pie-chart-{{ node.node }}-cpu" class="bg-secondary pb-3"></canvas>
                                    </div>
                                    <div class="col-sm-6 col-xl-3">
                                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4 mt-3">
                                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                                            <div class="ms-3">
                                                <p class="mb-2">Swap</p>
                                                <h6 class="mb-0">{{ node.swap.total|format_bytes }} </h6>
                                            </div>
                                        </div>
                                        <canvas id="pie-chart-{{ node.node }}-swap" class="bg-secondary pb-3"></canvas>
                                    </div>
                                    <div class="col-sm-12 col-xl-12">
                                        <div class="bg-secondary rounded h-100 p-4" >
                                            <h6 class="mb-4">System load</h6>
                                            <div class="pg-bar mb-3">
                                                <div class="progress">
                                                    <div id="pg-bar-{{node.node}}-1" class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="{{ node.loadavg.0 }}" aria-valuemin="0" aria-valuemax="100">1min -- {{ node.loadavg.0|value_pcent }} %</div>
                                                </div>
                                            </div>
                                            <div class="pg-bar mb-3">
                                                <div class="progress">
                                                    <div id="pg-bar-{{node.node}}-5" class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="{{ node.loadavg.1 }}" aria-valuemin="0" aria-valuemax="100">5min -- {{ node.loadavg.1|value_pcent }} %</div>
                                                </div>
                                            </div>
                                            <div class="pg-bar mb-3 d-inline">
                                                <div class="progress">
                                                    <div id="pg-bar-{{node.node}}-10" class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="{{ node.loadavg.2 }}" aria-valuemin="0" aria-valuemax="100">10min -- {{ node.loadavg.2|value_pcent }} %</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% else %}
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item bg-transparent mt-4">
                            <h2 class="accordion-header" id="heading-{{ node.node }}">
                                <button style="background-color: #a56874" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ node.node }}" aria-expanded="true" aria-controls="collapse-{{ node.node }}">
                                    <i class="fa bi-toggle2-off fa-2x me-4"></i>{{ node.node }}
                                </button>
                            </h2>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        <script src="{% static 'web/js/dash.js' %}" id="chart"></script>
        </div>
    </div>

    <div class="row g-4">
       <div class="col-12">
           <div class="bg-secondary rounded h-100 p-4">
               <h6 class="mb-4">Cluster Tasks</h6>
               <div class="table-responsive">
                   <table class="table table-light table-striped">
                       <thead>
                           <tr>
                               <th scope="col">START</th>
                               <th scope="col">END</th>
                               <th scope="col">USER</th>
                               <th scope="col">NODE</th>
                               <th scope="col">TYPE</th>
                               <th scope="col">STATUS</th>
                               <th scope="col">UPID</th>
                           </tr>
                       </thead>
                       <tbody>
                           {% for task in cluster_tasks %}
                               <tr>
                                   <th scope="row">{{ task.starttime|format_datetime }}</th>
                                   <th scope="row">{{ task.starttime|format_datetime }}</th>
                                   <td>{{ task.user }}</td>
                                   <td>{{ task.node }}</td>
                                   <td>{{ task.type }}</td>
                                   <td>{{ task.status }}</td>
                                <td>{{ task.upid }}</td>
                               </tr>
                           {% endfor %}
                       </tbody>
                   </table>
               </div>
           </div>
       </div>

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Cluster Logs</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">TIME</th>
                            <th scope="col">PID</th>
                            <th scope="col">UID</th>
                            <th scope="col">NODE</th>
                            <th scope="col">USER</th>
                            <th scope="col">MESSAGE</th>
                            <th scope="col">TAG</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in cluster_logs1 %}
                            <tr>
                                <th scope="row">{{ log.time|format_datetime }}</th>
                                <td>{{ log.pid }}</td>
                                <td>{{ log.uid }}</td>
                                <td>{{ log.node }}</td>
                                <td>{{ log.user }}</td>
                                <td>{{ log.msg }}</td>
                                <td>{{ log.tag }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <table class="table table-striped">
                    <tbody>
                        {% for log in cluster_logs2 %}
                            <tr>
                                <th scope="row">{{ log.time|format_datetime }}</th>
                                <td>{{ log.pid }}</td>
                                <td>{{ log.uid }}</td>
                                <td>{{ log.node }}</td>
                                <td>{{ log.user }}</td>
                                <td>{{ log.msg }}</td>
                                <td>{{ log.tag }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}
